@inherits LayoutComponentBase

<PageTitle>Hangman</PageTitle>

<div class="page">
    <main>
        <h1 class="text-center mt-2 p-2 text-white"> Welcome to <b> Hangman Game </b> (<strong><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Konstantinos"><u>Κ</u></a></strong>ΡΕΜ<strong><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Angeliki"><u>Α</u></a></strong>ΛΑ)</h1>
        <h6 class="text-center text-white">It's a game for 2</h6>
        <h6 class="text-center text-white">&copy;2023 <i>Konstantinos S.</i></h6>
        <hr class="text-white" />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>