bin/
obj/
**/bin
**/obj
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
**/Migrations
**/storage
.vs
**/Properties
HangmanGame/bin
HangmanGame/obj
HangmanGame/bin/**
HangmanGame/obj/**
HangmanGame/bin/*
HangmanGame/obj/*