@page "/Game"

<h3 class="text-white text-center">Game</h3>

<div class="row mt-5">
    <div class="col-md-6" align="right">
        <div class="game">
            <img class="me-5" src="assets/hangman-0.svg"/>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-2 pt-2" align="left">
        <MyButton Name="A" /> 
        <MyButton Name="B" /> 
    </div>
    <div class="row mt-5">
        <div class="form-group">
            <textarea class="form-control"></textarea>
            <input class="form-control" type="text"/>
            <button class="btn-dark">Send</button>
        </div>
    </div>
</div>