@page "/"
@inject NavigationManager NavManager

<PageTitle>Hangman</PageTitle>

<div class="row">
    <div class="col-md-12 p-3 mt-3">
        <div class="form-group text-center">
            <h4 class="text-white">Enter a name to join: </h4>
            <input @bind="userInput" class="form-control w-50 m-auto pt-2 mt-3" type="text" placeholder="Your name"/>
            <button class="btn btn-dark mt-3" @onclick="() => Join(userInput)">Join Game!</button>
        </div>            
    </div>
</div>

@code {
    private string? userInput;

    private async Task Join(string? playerName)
    {
        if (playerName != null)
        {
            NavManager.NavigateTo($"/players?name={userInput}");
        }

    }
}
