@page "/Players"

<h2 class="text-white text-center">Active Players:</h2>

<div class="table-responsive p-3 mt-3 w-50 m-auto">
    <table class="table">
        <thead>
        <tr class="text-white">
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-white">
            <th scope="row">1</th>
            <td>Konstantinos</td>
            <td><button class="btn btn-dark p-2">Play</button></td>
        </tr>
        <tr class="text-white">
            <th scope="row">2</th>
            <td>Angeliki</td>
            <td><button class="btn btn-dark p-2">Play</button></td>
        </tr>
        </tbody>
    </table>
</div>